{% extends 'index.html' %}
{% load static %}

{% block content %}


<div class="cart-container">
    <div class="count">
        <h2>Your Cart</h2>
        <h4>{{count}} product</h4>
    </div>

    {% if user %}
    <div class="cart-content">

        <div class="table-wrapper">
            <table class="cart-table">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>

                {% for item in cart_items %}
                <tr class="cart-item">
                    <td class="product-info">
                        <a href="{% url 'single_product' item.id %}">
                            <img src="{{ item.image }}" alt="#">
                        </a>

                        <div style="margin-left:20px">
                            <h4>{{ item.product_name }}</h4>
                        </div>
                    </td>

                    <td class="quantity-controls">
                        <a href="{% url 'decrease_quantity' item.id %}">
                            <button class="qty-btn" style="padding:2px 5px;">-</button>
                        </a>

                        <p>{{ item.quantity }}</p>

                        <a href="{% url 'hi' item.id %}">
                            <button class="qty-btn">+</button>
                        </a>
                    </td>

                    <td class='remove-425'>${{ item.price }}</td>
                    <td>${{ item.subtotal }}</td>
                                   
                    <td>
                        <a href="{% url 'remove' item.id %}">
                           <button class="delete-btn" aria-label="Delete">
  <svg xmlns="http://www.w3.org/2000/svg"
     width="24"
     height="24"
     viewBox="0 0 24 24"
     fill="none"
     stroke="currentColor"
     stroke-width="2"
     stroke-linecap="round"
     stroke-linejoin="round">
  <path d="M3 6h18"/>
  <path d="M8 6V4h8v2"/>
  <path d="M19 6l-1 14H6L5 6"/>
  <path d="M10 11v6"/>
  <path d="M14 11v6"/>
</svg>
</button>
                        </a>
                        
                    </td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="cart-summary">
            <h3>Order Summary</h3>

            <p>
                <span>Total Price:</span>
                <span>${{ total }}</span>
            </p>

            <p><span>jccnsjkdvbjksdvkd</span></p>
            <p><span>jccnsjkdvbjksdvkd</span></p>
            <p><span>jccnsjkdvbjksdvkd</span></p>

            <hr>

            <div class="grand-total">
                <p>Total:</p>
                <p>${{ total }}</p>
            </div>

            <div class="payment-icons">
                <img src="{% static '/images/googlepay.png' %}" alt="gpay">
                <img src="{% static '/images/phonepay.png' %}" alt="phonepay">
                <img src="{% static '/images/visa.png' %}" alt="Visa">
                <img src="{% static '/images/master.png' %}" alt="MasterCard">
            </div>

            <button class="checkout-btn">
                <a href="{% url 'buy' %}">Buy Now</a>
            </button>

            <a href="{% url 'category' %}" class="continue-btn">
                Continue Shopping
            </a>
        </div>

    </div>
    {% else %}
    <p>Your cart is empty..</p>
    {% endif %}
</div>

{% endblock%}